@import "tailwindcss";

@theme {
  --color-brand-page: var(--bg-page);
  --color-brand-surface: var(--bg-surface);
  --color-brand-elevated: var(--bg-elevated);
  --color-brand-border: var(--border-subtle);

  --color-brand-textPrimary: var(--text-primary);
  --color-brand-textSecondary: var(--text-secondary);

  --color-brand-orange: var(--color-orange);
  --color-brand-brown: var(--color-brown);
  --color-brand-teal: var(--color-teal);
  --color-brand-tealHover: var(--color-teal-hover);

  --font-sans: "Plus Jakarta Sans", "Inter", "sans-serif";
}

:root {
  --bg-page: #fff4e0;
  --bg-surface: #fffdf8;
  --bg-elevated: #f3eee6;
  --border-subtle: #e6dfd5;
  --text-primary: #3d2a1f;
  --text-secondary: rgba(61, 42, 31, 0.7);
  --color-orange: #ffa94d;
  --color-brown: #c48a5b;
  --color-teal: #4db6ac;
  --color-teal-hover: #3ca096;
}

.dark {
  --bg-page: #120f0e;
  --bg-surface: #1a1614;
  --bg-elevated: #2a2421;
  --border-subtle: #3a322e;
  --text-primary: #f5efea;
  --text-secondary: #e0d7d0;
  --color-orange: #ffa94d;
  --color-brown: #c48a5b;
  --color-teal: #4db6ac;
  --color-teal-hover: #3ca096;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
